<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings>
  <clear />
  <add name="DefaultConnection" connectionString="Data Source=DEV-PC;Initial Catalog=console.nic;User Id=sa;Password=kagwa18$$;" providerName="System.Data.SqlClient"/>
    
</connectionStrings>
</configuration>